body{
    background-color: #060218;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #FFFFFF;
    padding: 20px;
}

h2{
    color: #282888;
}
a {
    color: #FF0000;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}

p::first-letter {
    font-size: 1.5em;
    float: left;
    padding-right: 5px;
}

.keyword {
    color: gold;
    font-weight: bold;
}
ol li {
    cursor: pointer;
}

ol li > ul {
    display: none;
}

ol li:hover > ul {
    display: block;
}
